:root {
  --primary-text-color: #434455;
  --titel-text-color: #2e2f42;
  --accent-color: #4d5ae5;
}
body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
}

.logo {
  color: var(--titel-text-color);
  font-family: Raleway, sans-serif;

  font-weight: 800;
  font-size: 18px;
  line-height: 0.75;
  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo .accent{
  color: #4D5AE5;
}

.logo:hover {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

/* site nav */
.site-nav .link {
  color: var(--titel-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 0.67;
    text-decoration: none;

}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.curent {
  color: var(--accent-color);
}

.auth-nav {
  color: var(--primary-text-color);
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 0.67;
text-decoration: none;

}

.section-title {
  color: var(--titel-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 0.9;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.features-list .titel {
  color: var(--titel-text-color);
  
}

/* Herro*/

.herro {
  color: #ffffff;
  background-color: var(--titel-text-color);

  font-weight: 700;
  font-size: 56px;
  line-height: 0.93;
  text-align: center;
  letter-spacing: 0.02em;
}

/*titel*/
.features-list .titel {
  font-weight: 500;
  font-size: 20px;
  line-height: 0.83;
  letter-spacing: 0.02em;
}

.features-list .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 0.67;
  letter-spacing: 0.02em;
}

/* List worker */
.list-worker .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 0.67;
  text-align: center;
  letter-spacing: 0.02em;
}
.list-worker .name {
font-weight: 500;
font-size: 20px;
line-height: 0.83
text-align: center;
letter-spacing: 0.02em;}

/*foter*/
.logo-footer{
  color: #F4F4FD;
  font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 0.86;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;
}
.logo-footer .accent-footer {
  color: #4D5AE5;
}

.footer {
  background-color: #2e2f42;
}

.footer-transcr {
  color: #e7e9fc;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 0.67;
  letter-spacing: 0.02em;
}

/*button*/
.button {
  color: #ffffff;
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
}

/* button-portfolio */
.button-portfolio {
  color: #4D5AE5;
  background-color: #F4F4FD;
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 0.67;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;

}


.section {
  color: var(--titel-text-color);

}