:root {
  --primary-text-color: #434455;
  --titel-text-color: #2e2f42;
  --accent-color: #4d5ae5;
}
body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

.logo {
  color: var(--titel-text-color);
  font-family: Raleway, sans-serif;

  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo .accent {
  color: #4d5ae5;
}

.logo:hover {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

/* site nav */
.site-nav .link {
  color: var(--titel-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.curent {
  color: var(--accent-color);
}

.auth-nav {
  color: var(--primary-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
}

.section-title {
  color: var(--titel-text-color);
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.features-list .titel {
  color: var(--titel-text-color);
}

/* Herro*/

.herro {
  color: #ffffff;
  background-color: var(--titel-text-color);
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

/*titel*/
.features-list .titel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.features-list .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* List worker */
.list-worker .text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}
.list-worker .name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}

/*foter*/
.logo-footer {
  color: #f4f4fd;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-footer .accent-footer {
  color: #4d5ae5;
}

.footer {
  background-color: #2e2f42;
}

.footer-transcr {
  color: #e7e9fc;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*button*/
.button {
  color: #ffffff;
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

/* button-portfolio */
.button-portfolio {
  color: #4d5ae5;
  background-color: #f4f4fd;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
}

.section {
  color: var(--titel-text-color);
}
.list-portfolio {
  color: var(--titel-text-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.portfolio-text {
  color: var(--primary-text-color);
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
